.progress * {
  transition: initial !important;
}

.progress {
  max-width: min(400px, 80vw);
  max-height: min(400px, 80vh);
}

.wrapper {
  text-align: center;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  height: 100%;
}